{
  "appearanceLightChromeTheme": {
    "fonts": {
      "code": "SFMono Nerd Font, SFMono"
    }
  },
  "appearanceDarkChromeTheme": {
    "fonts": {
      "code": "SFMono Nerd Font, SFMono"
    }
  }
}
